MYSQL_ROOT_PASSWORD=MyEMS@2024
MYSQL_DATABASE=ry-vue
MYSQL_HOST=mysql
MYSQL_USERNAME=root
MYSQL_PORT_FORWARD=3306

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PORT_FORWARD=6379
REDIS_PASSWORD=

SPRING_PROFILES_ACTIVE=druid
RUOYI_PROFILE=/data/ruoyi/uploadPath
BACKEND_PORT_FORWARD=8080
FRONTEND_PORT_FORWARD=80

ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
SMOKE_BASE_URL=http://localhost:8080
SMOKE_GATEWAY_BASE_URL=http://localhost/prod-api

